/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	line-height: 1;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */
/* Using modular scale http://www.modularscale.com/?18&px&1.667 */

html {
  font-size: 1.125em; /* 18 /16 = 1.25 */
	line-height: 1.22222em; /* 22 / 19 = 1.222... aka 122% */
  text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	padding-top: 2.44444em; /* 44/ 18 = 2.44444 */
	padding-right: 1.22222em;
	padding-left: 1.22222em;
	font-family: 'Cardo', serif;
	background-color: white;
}
body {
	padding-top: 3.666em; /* 66 / 18 = 3.666 */
  padding-right: 1.222em; /* 22 / 18 = 1.222 */
  padding-left: 1.222em;
}
h1,p {
  padding-bottom: 1.222em;
}
h1 {
  font-size: 2.778em; /* 50.02 px/ 18px = 2.778*/
	line-height: 1.319em; /* 66px / 50.02px = 1.39em ; 3 gridlines (22px */
	font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 1.777em; /* 31.984 px/ 18px = 1.777*/
	line-height: 1.0318em; /* 33px / 31.984 = 1.0318em */
	font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.611em;
}
li {
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
}
ul {
  margin-left: 0;
  padding-left: 1.833em;
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
  list-style-type: disc;
}
li li:last-child {
  padding-bottom: 0.611em;
}
i,em,cite {
  font-style: italic;
}
b,strong {
  font-weight: bold;
}

/* responsive images */
img {
	display: block;
	max-width: 100%;
}

/* State */
@media screen and (min-width: 370px) {
  body {
    padding-right: 5.9459459%; /* 22 / 370 = 0.059459459 */
    padding-left: 5.9459459%; /* 22 / 370 = 0.059459459 */
  }
}
@media screen and (min-width: 625px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25 */
  }
}
@media screen and (min-width: 920px) {
  /*
  920px / whole screen
  -60px /margins (total)
  275px / column
  17.5px / gutter
  Left-hand column : 275 * 2 + 17.5 = 567.5
  Right-hand column : 275px, offset by 17
  */
  body {

  }
  #primary {
    width: 65.9883721%; /*567.5 / 860 = 0.659883721 */
    float: left;
  }
  #supporting {
    width: 31.9767442%; /* 275 / 860 = 0.659883721 */
    float: left;
  }
  .flexbox #content {
    display: flex;
  }
  .flexbox #primary,
  .flexbox #supporting {
    float: none;
    margin: 0;
    width: auto;
  }

  .cssgrid #content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.0348837%;
  }
  .cssgrid #primary {
    grid-column: 1 / 2;
  }
  .cssgrid #supporting {
    grid-column:3 / 4
  }
  #footer {
    clear: both;
    float: none;
  }

}
