/* Begin site styles below */

html {
  font-size: 1.125em;
  line-height: 22px;
  line-height: 1.222em;

  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  padding-top: 44px;
  padding-right: 22px;
  padding-left: 22px;
}

h1,h2,h3,p {

  padding-bottom: 1.222em;

}

li {
  padding-bottom: 11px;
}

ul,ol {
  padding-bottom: 11px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}
li > ul,
li > ol {
  padding-left: 22px;
  padding-bottom: 0;
}
li li:last-child {
  padding-bottom: 0;
}
/* Layout */

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navigation li {
  display: inline-block;
  width: 33.333333%;
  float: left;
}

/* Modular */
nav a {
  display: block;
  background-color: orange;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}
