/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */
/* Using modular scale http://www.modularscale.com/?18&px&1.667 */

html {
  font-size: 1.125em; /* 18 /16 = 1.25 */
	line-height: 1.22222em; /* 22 / 19 = 1.222... aka 122% */
  text-rendering: optimizeLegibility;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	padding-top: 2.44444em; /* 44/ 18 = 2.44444 */
	padding-right: 1.22222em;
	padding-left: 1.22222em;
	font-family: 'Cardo', 'Bookman Oldstyle', serif;
	background-color: #EBEAEA; /* Light Gray */
}
body {
	line-height: 1.22222em; /* 22 / 19 = 1.222... aka 122% */
	padding-top: 1.222em; /*3.666em 66 / 18 = 3.666 */
  padding-right: 1.222em; /* 22 / 18 = 1.222 */
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
h1,h2,h3,p {
  padding-bottom: 1.222em; /*3.666em 66 / 18 = 3.666 */
}
h1 {
  font-size: 2.778em; /* 50.02 px/ 18px = 2.778*/
	line-height: 1.0318em; /* 33px / 31.984 = 1.0318em */
	font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 1.777em; /* 31.984 px/ 18px = 1.777*/
	line-height: 1.0318em; /* 33px / 31.984 = 1.0318em */
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}
li {
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
	line-height: 1.22222em; /* 22 / 19 = 1.222... aka 122% */
}
ul {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
	line-height: 1.22222em; /* 22 / 19 = 1.222... aka 122% */
}
li li:last-child {
  padding-bottom: 0.611em;
}
i,em,cite {
  font-style: italic;
}
b,strong {
  font-weight: bold;
}
/* responsive images */

img {
  border-radius: 50%;
	display: block;
  margin: 0 auto;
	max-width: 100%;
	padding-bottom: 0.611em;
  float: right;
  margin-left: 30px;
}
/* Links */

a {
	color: #5B0A0A; /* Maroon */
	text-decoration: none;
}
/* Layout */
#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	font-family: 'Montserrat', sans-serif;
}
#navigation li {
  width: 33.333333%;
  float: left;
	list-style-type: none;
}
.cssgrid header {
	display: grid;
	grid-template-columns: 1fr, 1fr;
}
.flexbox #navigation ul {
	display: flex;
}
.flexbox #navigation li {
	float: none;
}
/* Modular */
nav ul {
	list-style-type: none;
	padding-left: 0;
}
nav a {
  display: block;
  padding-top: 0.611em;
  padding-bottom: 0.611em;
  background-color: #5B0A0A; /* Maroon */
  color: white;
	text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 370px) {
  body {
    padding-right: 5.9459459%; /* 22 / 370 = 0.059459459 */
    padding-left: 5.9459459%; /* 22 / 370 = 0.059459459 */
  }
}
@media screen and (min-width: 625px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25 */
  }
}
@media screen and (min-width: 920px) {
  /* 920px / whole screen
  -60px /margins (total)
  275px / column
  17.5px / gutter
  Left-hand column : 275 * 2 + 17.5 = 567.5
  Right-hand column : 275px, offset by 17 */
  body {

  }
#primary {
	width: 45%;
	float: left;
	margin-right: 2.0348837%;
}
#supporting {
	width: 45%;
	margin-left: 2.0348837%;
	float: right;
}
#footer {
	clear: both;
	float: none;
}

.flexbox #primary
.flexbox #supporting {
	float: none;
	margin: 0;
	width: auto;
}
@media screen and (min-width: 1185px) {
  body {
    padding-right: 10%;
    padding-left: 10%;
	}
}
